<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Estagio do projeto -->
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value> 
    </context-param>

    
    <!-- Faces Servlet: responsável por processar requisições JSF -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Mapeamento do Faces Servlet para arquivos .xhtml -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- Permite URLs sem extensão .xhtml -->
    <context-param>
        <param-name>jakarta.faces.AUTOMATIC_EXTENSIONLESS_MAPPING</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Tema visual do PrimeFaces -->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>saga</param-value>
    </context-param>

    <!-- Página inicial da aplicação -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Tempo de expiração da sessão (em minutos) -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <!-- Fuso horário padrão para conversões de data/hora -->
    <context-param>
        <param-name>jakarta.faces.DATETIME_TIMEZONE</param-name>
        <param-value>America/Sao_Paulo</param-value>
    </context-param>

    <!-- Usa o fuso horário do sistema como padrão -->
    <context-param>
        <param-name>jakarta.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Localidade padrão da aplicação -->
    <context-param>
        <param-name>LOCALE</param-name>
        <param-value>pt-BR</param-value>
    </context-param>


    
    <!-- Ativa a validação no lado do cliente (JavaScript) -->
    <context-param>
        <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
        <param-value>true</param-value>
    </context-param>




</web-app>
